* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  --main-text-color: #f7f7f7;
  --secondary-text-color: #a4a4a4;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 1;
  height: 50px;
}

.navbar>.navbar__list {
  float: right;
  list-style-type: none;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 0;
}

.navbar>.navbar__list>.navbar__item {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  height: 50px;
}

.navbar>.navbar__list>.navbar__item a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.9);
  height: 50px;
  transition: all 0.5s linear;
}

.navbar>.navbar__list>.navbar__item--active a {
  color: var#f7f7f7;
  background-color: #a4a4a4;
  height: 50px;
}

.navbar>.navbar__list>.navbar__item a:hover {
  color: #f7f7f7;
  background-color: #a4a4a4;
  height: 50px;
}

.header>.header__title {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 2rem;
  visibility: hidden;
  animation: titleAnimation 2s forwards;
  animation-delay: 0.8s;
}

.header>.header__cite {
  position: absolute;
  top: 92%;
  width: 100%;
  color: white;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  opacity: 0;
  animation: subtitleAnimation 3s forwards;
  animation-delay: 1s;
}

.header>.header__image {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin-top: 0px;
}

.sobremi>.sobremi__video {
  float: left;
  max-width: 50%;
}

.sobremi>.sobremi__info {
  float: right;
  max-width: 50%;
}

.quien-soy__img {
  height: 300px;
  max-width: 100%;
  border-radius: 50%;
}

.quien-soy__item>.quien-soy-item__info {
  float: right;
  max-width: 50%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.92);
  color: #f7f7f7;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.estudios-lista__flex {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(0, 0, 0, 0);
}

.estudios-lista__item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 1.5em;
  color: #fff;
  margin: 5px 2px;
  list-style: none;
}

.estudios-lista__item2 {
  font-size: 20px;
  color: #fff;
  margin: 5px 2px;
  list-style: none;
}

.estudios-lista__img {
  height: 80vh;
}

#otra-forma {
  display: none;
}

#otra-forma.muestra {
  display: block;
}

.experiencia-table__titulo {
  font-size: 2em;
  text-align: center;
}

.experiencia-table__puesto {
  width: 50vh;
  font-size: 1.3em;
  text-align: left;
}

.experiencia-table__historia {
  width: 100vh;
  text-align: left;
  list-style: none;
}